{% extends 'b-common.njk' %}
{% block wrap %}

<div id="temp-article-list">
  <div class="write-article">
    <a class="ui circular primary icon button" href="/newArticle">
      <i class="plus icon"></i>
    </a>
  </div>
  <table class="ui celled striped table">
    <thead>
    <tr>
      <th colspan="5">Temporary storage</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
      <td class="collapsing"><i class="folder icon"></i>
        {{ item.title }}
      </td>
      <td>
        {{ item.summary }}
      </td>
      <td>
        <div class="ui tag labels">
          {% for tag in item.tags %}
          <a class="ui label">{{ tag }}</a>
          {% endfor %}
        </div>
      </td>
      <!--<td>-->
      <!--<mavon-editor :toolbars="toolbars"-->
      <!--:subfield="false"-->
      <!--:editable="false"-->
      <!--:scrollStyle="true"-->
      <!--defaultOpen="preview"-->
      <!--value="{{ item.content }}"/>-->
      <!--</td>-->
      <td>
        {{ item.created }}
      </td>
      <td>
        {{ item.updated }}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<script>
  new Vue({
    el: '#temp-article-list',
    computed: {
      toolbars() {
        return { preview: true, subfield: false }
      }
    },
    mounted() {
      this.bindEvents()
    },
    methods: {
      bindEvents() {
        $('.ui.dropdown').dropdown({ clearable: true })
      }
    }
  })
</script>
{% endblock %}
