<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/all.css">
  <title>Jayden</title>
</head>
<body>

<header id="header">
  <div class="header-container container">
    <div class="header-intro">
      <a href="/"><img src="/images/logo.svg" alt="ZerG"></a>
      <div class="intro-text">
        <p>ZerG Jayden</p>
        <p>I am the Swarm</p>
      </div>
    </div>
    <div class="header-nav">
      <ul class="navs">
        <li><a href="/">主页</a></li>
        <li><a href="/categories/前端开发">Web开发</a></li>
        <li><a href="/categories/Node.js">Node.js</a></li>
        <li><a href="/categories/运维">运维</a></li>
        <li><a href="/categories/工具">工具</a></li>
        <li><a href="/categories/读书笔记">读书笔记</a></li>
        <li><a href="/categories/杂谈">杂谈</a></li>
      </ul>
    </div>
  </div>
</header>

<main class="container">
  <div id="main">
    <aside class="aside">
      <div class="aside-top">
        <p>最新文章</p>
      </div>
      <div class="aside-content">

      </div>
    </aside>
  </div>


  {% block main %}{% endblock %}
</main>

<footer id="footer">
  <div class="container">
    <p>
      Copyright © 2019 Jayden Deng. All rights reserved.
    </p>
  </div>
</footer>

</body>
</html>
