<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/f-all.css">
  <title>Jayden</title>
</head>
<body>

<header id="header">
  <div class="header-container container">
    <div class="header-intro">
      <a href="/"><img src="/images/logo.svg" alt="ZerG"></a>
      <div class="intro-text">
        <p>ZerG Jayden</p>
        <p>I am the Swarm</p>
      </div>
    </div>
    <div class="header-nav">
      <ul class="navs">
        <li><a href="/">主页</a></li>
        <li><a href="/categories/前端开发">Web开发</a></li>
        <li><a href="/categories/Node.js">Node.js</a></li>
        <li><a href="/categories/运维">运维</a></li>
        <li><a href="/categories/工具">工具</a></li>
        <li><a href="/categories/读书笔记">读书笔记</a></li>
        <li><a href="/categories/杂谈">杂谈</a></li>
      </ul>
    </div>
  </div>
</header>

<main class="container">
  <div id="main">
    <aside class="aside">
      <div class="aside-top">
        <p>Fuck You</p>
      </div>
      <div class="aside-wrap">
        <h3>最新文章</h3>
        <div class="aside-item">
          <a href="">
            <img src="https://img.alicdn.com/tfs/TB1uzLwLQzoK1RjSZFlXXai4VXa-900-500.jpg" alt="">
          </a>
          <div class="aside-item-wrap">
            <p class="aside-item-category">
              <a href="">Web开发</a>
            </p>
            <p class="aside-item-title">
              <a href="">淘宝前端团队 2019 年实习生内部推荐通道已开启</a>
            </p>
            <p class="aside-item-date">
              at 2019-03-13
            </p>
          </div>
        </div>
        <div class="aside-item">
          <a href="">
            <img src="https://img.alicdn.com/tfs/TB1uzLwLQzoK1RjSZFlXXai4VXa-900-500.jpg" alt="">
          </a>
          <div class="aside-item-wrap">
            <p class="aside-item-category">
              <a href="">Web开发</a>
            </p>
            <p class="aside-item-title">
              <a href="">淘宝前端团队 2019 年实习生内部推荐通道已开启</a>
            </p>
            <p class="aside-item-date">
              at 2019-03-13
            </p>
          </div>
        </div>
        <div class="aside-item">
          <a href="">
            <img src="https://img.alicdn.com/tfs/TB1uzLwLQzoK1RjSZFlXXai4VXa-900-500.jpg" alt="">
          </a>
          <div class="aside-item-wrap">
            <p class="aside-item-category">
              <a href="">Web开发</a>
            </p>
            <p class="aside-item-title">
              <a href="">淘宝前端团队 2019 年实习生内部推荐通道已开启</a>
            </p>
            <p class="aside-item-date">
              at 2019-03-13
            </p>
          </div>
        </div>
        <div class="aside-item">
          <a href="">
            <img src="https://img.alicdn.com/tfs/TB1uzLwLQzoK1RjSZFlXXai4VXa-900-500.jpg" alt="">
          </a>
          <div class="aside-item-wrap">
            <p class="aside-item-category">
              <a href="">Web开发</a>
            </p>
            <p class="aside-item-title">
              <a href="">淘宝前端团队 2019 年实习生内部推荐通道已开启</a>
            </p>
            <p class="aside-item-date">
              at 2019-03-13
            </p>
          </div>
        </div>
        <div class="aside-item">
          <a href="">
            <img src="https://img.alicdn.com/tfs/TB1uzLwLQzoK1RjSZFlXXai4VXa-900-500.jpg" alt="">
          </a>
          <div class="aside-item-wrap">
            <p class="aside-item-category">
              <a href="">Web开发</a>
            </p>
            <p class="aside-item-title">
              <a href="">淘宝前端团队 2019 年实习生内部推荐通道已开启</a>
            </p>
            <p class="aside-item-date">
              at 2019-03-13
            </p>
          </div>
        </div>
      </div>
      <div class="aside-wrap">
        <h3>分类</h3>
        <ul class="category-list">
          <li>
            <a href="">Web开发</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">Node.js</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">运维</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">工具</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">读书笔记</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">杂谈</a>
            <span>(52)</span>
          </li>
        </ul>
      </div>
      <div class="aside-wrap">
        <h3>归档</h3>
        <ul class="file-list">
          <li>
            <a href="">2019</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">2018</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">2017</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">2016</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">2015</a>
            <span>(52)</span>
          </li>
          <li>
            <a href="">2014</a>
            <span>(52)</span>
          </li>
        </ul>
      </div>
    </aside>
    <div class="block">
      <div class="block-header">
        <h1>
          <i class="icon fa fa-folder-open"></i>
          <span>分类：</span>
          <span class="kind">Web开发</span>
        </h1>
      </div>
    </div>
  </div>


  {% block main %}{% endblock %}
</main>

<footer id="footer">
  <div class="container">
    <p>
      Copyright © 2019 Jayden Deng. All rights reserved.
    </p>
  </div>
</footer>

</body>
</html>
