#login {
  .form-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .column {
      width: 320px;
    }

    h3 {
      margin-bottom: 40px;
    }

    button {
      margin-top: 20px;
    }
  }
}

#b-temp-article-list{
  .breadcrumb{
    line-height: 40px;
  }
}
